<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Parcial2ConnectionString" connectionString="Data Source=.;Initial Catalog=Parcial2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Parcial2Entities" connectionString="metadata=res://*/App_Code.DAL.DTSGENERAl.csdl|res://*/App_Code.DAL.DTSGENERAl.ssdl|res://*/App_Code.DAL.DTSGENERAl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Seguridad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>
